/* request button Contact us */
.button1{
    background-color: black;
    width: 50%;
    padding: 20px;
    margin-top: 80px;
    transition-duration: 0.3s;
}

/* request button Contact us */
.button1:hover{
    background-color: rgba(48, 47, 47, 1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* blog contents */
.blogDesc{
    padding: 40px 15% 0px 15%;
}

/* Inquiry form Contact us */
.form{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 100px 0px;
    width: 100%;
    justify-content: start;
}

/* Input on form Contact us */
input{
    position: relative;
    align-items: start;
    font-family: "syncopate";
    padding: 20px;
    margin: 10px;
    width: 50%;
    background-color: rgba(255,255,255,0);
}

/* For Checkbox Input on form Contact us */
input[type=checkbox]{
    position: relative;
    padding: 0px;
    margin: 40px 0px 0px 0px;
    transform: scale(3);  
}

/* For hero section on Index */
.hero1{
    display: flex;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    text-align: left;
    margin: 0;
    padding: 50px 0px 50px 0px;
    width: 100%;
    justify-content: space-evenly;
  
}

/* For hero section on Index */
.hero2{
    display: flex;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    text-align: start;
    padding: 50px 0px 50px 0px;
    width: 100%;
    justify-content: space-evenly;
}

/* for hero section of other pages instead Index */
.hero3{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 100px;
}

/* For hero section on Services*/
.hero5{
    padding-right: 300px;
    display: flex;
    width: 100%;
    text-align: start;
    align-items: center;
    justify-content: space-between;
}

/* For hero section on Services*/
.hero6{
    padding-left: 300px;
    display: flex;
    width: 100%;
    text-align: end;
    align-items: center;
    justify-content: space-between;
}

/* for backdrop on About us */
.roundedBox{
    padding: 100px 450px 150px 450px;
    margin: 20px 50px 0px 50px;
    background-color: rgba(255, 241, 227,0.6);
    border-radius: 150px;
}

/* For Images on Services*/
.imgDesc{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 150px 0px 150px 0px;
    background-color: rgba(255, 241, 227,0.6);
    border-radius: 150px;
    justify-content: space-evenly;
}

/* For Images on Services*/
.imgContainer{
    display: flex;
    flex-direction: column;
}

/* For footer Icons*/
img.smallLogo{
    margin: 20px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

/* For footer logo*/
img.logo{

    margin:0 auto;
    text-align: right;
    height: 280px;
    width: 280px;
    
}

/* For Images on Services*/
img.smallRounded {
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    height: 350px;
    width: 350px;
    vertical-align: middle;
  }

/* for main circle images */
img.rounded {
    margin: 50px;
    margin-left: 150px;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    height: 600px;
    width: 600px;
    vertical-align: middle;
  }

/* for square images on Index*/
img.soft{
    margin: 50px;
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: 0 60%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

/* for square images on Blog*/
img.soft2{
    margin: 100px 0px 0px 0px;
    height: 600px;
    width: 75%;
    object-fit: cover;
    object-position: 0 60%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}


